// Colors
$header-bg-top: rgb(192,29,69);
$header-bg-mid: rgb(164,22,57);
$header-bg-btm: rgb(140,19,49);
$header-odd-underline: rgb(200,0,23);
$header-txt: rgb(255,255,248);
$row-bg: rgb(248,248,248);
$row-drkbg: rgb(238,238,238);
$row-txt: rgb(0,86,126);
$alt-row-txt: black;
$row-border: rgb(230,230,230);
$bootcamp: rgb(57,118,56);

// sizes
$small: 0.8em;
$medium: 1em;
$large: 1.6em;
$huge: 2.4em;

// grid
$max-row-height: 5rem;
$small-col: 10vw;

// css reset
body, header nav, a, h1, h2, h3, h4, h5, h6,
li, ul, ol, div, span, strong, main, section,
img, div, p, form, fieldset, label, input,
textarea, button, article, footer, small {
	vertical-align: baseline;
	font-weight: inherit;
	text-decoration: none;
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	border: 0 none;
	outline: 0;
	color: inherit;
	padding: 0;
	margin: 0;
	background: transparent;
	list-style: none;
}

html {
  font-size: 75%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1rem;
}


.flex-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-size {
  width: 95vw;
  margin: 0 2.5vw;
  box-sizing: border-box;
  max-height: $max-row-height;
}

.total-row-size {
  @extend .container-size;
  @extend .flex-container;
  justify-content: space-between;
}

.header-container {
  @extend .total-row-size;
  color: $header-txt;
  font-weight: bold;
  padding-left: 1em;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $header-bg-btm;
  border-bottom: 3px solid $header-odd-underline;
  background: $header-bg-mid; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($header-bg-top, $header-bg-btm); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($header-bg-top, $header-bg-btm); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($header-bg-top, $header-bg-btm); /* For Firefox 3.6 to 15 */
  background: linear-gradient($header-bg-top, $header-bg-btm); /* Standard syntax */
}
.row-container {
  @extend .total-row-size;
  color: $row-txt;
  border-left: 1px solid $row-border;
  border-right: 1px solid $row-border;
  border-top: 1px solid $row-border;
}
.row-container:nth-child(even) {
  background: $row-drkbg;
}
.row-container:nth-child(odd) {
  background: $row-bg;
}

.main-row {
  @extend .flex-container;
  justify-content: flex-start;
  height: $max-row-height;
  min-width: 350px;
  text-align: left;
  flex-grow: 1;
}
.sub-row-index {
  @extend .flex-container;
}
.sub-row {
  @extend .flex-container;
  border-left: 1px solid $row-border;
  height: $max-row-height;
  box-sizing: border-box;
  text-align: center;
  width: $small-col;
  padding: 0 0.5vw;
  flex-grow: 0;
  flex-shrink: 0;
}
.header {
  cursor: pointer;
  border-left: 1px solid $header-bg-btm;
}
.icon {
  height: 3em;
  width: 3em;
  flex-grow: 0;
  flex-shrink: 0;
  background: #777;
  margin: 0 1em;
}
.bootcamp {
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: $bootcamp;
  font-size: $small;
  font-weight: bolder;
}
.row-article-title {
  font-weight: bold;
  padding-right: 1em;
}
.u-color-alt {
  color: $alt-row-txt !important;
}
.footer-container {
  @extend .container-size;
  @extend .flex-container;
  background: $row-bg;
  border: 1px solid $row-border;
}
.footer-btn {
  cursor: pointer;
  flex-grow: 1;
  padding: 1em;
}

.up:after {
  content: '';
  left: 46%;
  bottom: 10px;
  position: absolute;
  border-top: 10px solid $header-txt;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.down:after {
  content: '';
  left: 46%;
  bottom: 10px;
  position: absolute;
  border-bottom: 10px solid $header-txt;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
