body, header nav, a, h1, h2, h3, h4, h5, h6,
li, ul, ol, div, span, strong, main, section,
img, div, p, form, fieldset, label, input,
textarea, button, article, footer, small {
  vertical-align: baseline;
  font-weight: inherit;
  text-decoration: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  border: 0 none;
  outline: 0;
  color: inherit;
  padding: 0;
  margin: 0;
  background: transparent;
  list-style: none; }

html {
  font-size: 75%; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1rem; }

.flex-container, .total-row-size, .header-container, .row-container, .main-row, .sub-row-index, .sub-row, .footer-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative; }

.container-size, .total-row-size, .header-container, .row-container, .footer-container {
  width: 95vw;
  margin: 0 2.5vw;
  box-sizing: border-box;
  max-height: 5rem; }

.total-row-size, .header-container, .row-container {
  justify-content: space-between; }

.header-container {
  color: #fffff8;
  font-weight: bold;
  padding-left: 1em;
  text-transform: uppercase;
  border: 1px solid #8c1331;
  border-bottom: 3px solid #c80017;
  background: #a41639;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#c01d45, #8c1331);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c01d45, #8c1331);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c01d45, #8c1331);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c01d45, #8c1331);
  /* Standard syntax */ }

.row-container {
  color: #00567e;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  overflow: hidden;
  animation-name: expand;
  animation-duration: 800ms; }

@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0; }
  100% {
    max-height: 5rem;
    opacity: 1; } }
.flat {
  max-height: 0;
  opacity: 0;
  overflow: hidden; }

.row-container:nth-child(even) {
  background: #eeeeee; }

.row-container:nth-child(odd) {
  background: #f8f8f8; }

.main-row {
  justify-content: flex-start;
  height: 5rem;
  min-width: 350px;
  text-align: left;
  flex-grow: 1; }

.sub-row {
  border-left: 1px solid #e6e6e6;
  height: 5rem;
  box-sizing: border-box;
  text-align: center;
  width: 10vw;
  padding: 0 0.5vw;
  flex-grow: 0;
  flex-shrink: 0; }

.header {
  border-left: 1px solid #8c1331; }

.icon {
  height: 3em;
  width: 3em;
  flex-grow: 0;
  flex-shrink: 0;
  background: #777;
  margin: 0 1em;
  border: 1px solid #e6e6e6; }

.bootcamp {
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: #397638;
  font-size: 0.8em;
  font-weight: bolder; }

.row-article-title {
  font-weight: bold;
  padding-right: 1em;
  cursor: pointer; }

.u-color-alt {
  color: black !important; }

.footer-container {
  background: #f8f8f8;
  min-height: 2em;
  border: 1px solid #e6e6e6; }

.footer-btn {
  cursor: pointer;
  flex-grow: 1;
  padding: 1em; }

.btn {
  cursor: pointer; }

.up:after {
  content: '';
  left: 46%;
  bottom: 10px;
  position: absolute;
  border-top: 10px solid #fffff8;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent; }

.down:after {
  content: '';
  left: 46%;
  bottom: 10px;
  position: absolute;
  border-bottom: 10px solid #fffff8;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent; }

.u-drk-bg {
  background: #d2d2d2 !important;
  border: 1px solid #d2d2d2 !important; }

/*# sourceMappingURL=style.css.map */
